<div class="center">
  <h1>ログイン認証</h1>
  <p>
    <a><%= link_to '接続', @login_url, id: "connect-button", class: "btn btn--primary" %></a>
  </p>
</div>

<!-- <a href="<%= @login_url %>" role="button" id="connect-button">kintoneに接続</a> -->
